@import (inline) "../node_modules/normalize.css/normalize.css";
//@import "clearfix";

@import "fonts";

@import "main";

@import "banner";
@import "steps-sale";
@import "advantages";

@import "media";

a {
    text-decoration: none;
}

a, input, select, button {
    &:hover {
        cursor: pointer;
    }
}

.wrap {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
