@import (inline) "../node_modules/normalize.css/normalize.css";
@import "clearfix";
@import "fonts";

@import "container";

@import "header";
@import "navbar";
@import "banner";

@import "footer";

@import "btn";

a {
    text-decoration: none;
}

a, input, select, button {
    &:hover {
        cursor: pointer;
    }
}

body {
    background-color: #ffffff;
}
