@import (inline) "../node_modules/normalize.css/normalize.css";

@import "fonts";

@import "main";
@import "media";

@import "banner";
@import "steps-sale";
@import "our-advantages";
@import "profitable-sale";
@import "quick-questions";
@import "interesting-site";
@import "get-started";


a {
    text-decoration: none;
}

a, input, select, button {
    &:hover {
        cursor: pointer;
    }
}

.wrap {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}


@media screen and (max-width: 1180px) {

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 380px) {

}